/*cabecalho inicio*/
.logo{
    max-width: 250px;
}

header{
    background-color: #198754;
    padding: 5px;
}


.navbar{
   margin: 10px;
   padding: 10px;
}



@media screen and (max-width: 600px){
    .nav{
        display: none;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -90px;
    }

    .img1{
        margin: 0px -20px;
        max-width: 380px;
    }

}

@media screen and (min-width: 601px) and ( max-width: 850px){
    .img1{
        margin: 0px -20px;
        max-width: 580px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px){
    .nav{
        top: 40px;
        left: 50%;
        margin-left: -90px;
    }

    .img1{
        margin: 0px 0px;
        max-width: 500px;
    }
}




/*cabecalho fim*/
/*---------------------------*/

/*main inicio*/



.todosgrupos{
    background-color: #ffffff;
}

.explorar{
    text-align: center;
}

.gruposre{
    text-align: center;
}

.card-title{
    text-align: center;
}


/*main fim*/

/*---------------------------*/
/*rodape inicio*/

.bloco{
    background-color: #3c253d;
}

.final{
    color: white;
    text-align: center;
}

footer{
    background-color: #198754;
    text-align: center;
    color: #fafafa;
    padding: 5px;
}

.sobre{
    text-align: center;
}


/*rodape fim */
/*---------------------------*/

